body {
  background-color: #eae7dc;
  font-family: 'Open Sans', sans-serif;
}

.button-background {
  background-color: #d8c3a5;
}

.router {
  height: 100%;
  min-height: 83vh;
}

.link {
  color: #e85a4f;
  text-decoration: none;
}

.green {
  color: #1aeb1a;
}

.red {
  color: red;
}
